.home-poster-failure {
  width: 80%;
  height: 300px;
  margin-left: 155px;
  margin-top: 30px;
  background-color: #0d0d0d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.spider-con {
  width: 1440px;
  height: 605px;
  background-size: cover;
  background-color: #0d0d0d;
}
